---
import { links } from './links';
import logo from '../../../../public/logo.svg';
import { Image } from 'astro:assets';

const currentPath = Astro.url.pathname;
---

<nav
	class="text-primary max-xs:px-10 max-xs:bg-stone-900/90
	max-xs:drop-shadow-none sticky top-0 z-10 flex h-[80px]
	flex-none items-center justify-between bg-stone-900/30
	px-20 text-base max-sm:px-5 max-sm:text-sm sm:px-20"
>
	<div class="flex items-center text-lg">
		<Image src={logo} alt="logo" width={70} class="max-sm:w-[40px]" />
		<div class="flex flex-col leading-none">
			<p
				class="text-3xl font-thin
				leading-none max-sm:text-lg max-sm:leading-none"
			>
				<span class="font-medium"> SN</span>PRO
			</p>
			<p class="font-thin max-sm:text-sm max-sm:leading-none">photographer</p>
		</div>
	</div>

	<ul
		class="max-xs:text-xl max-xs:gap-5 max-xs:py-5 max-xs:absolute
		max-xs:top-[56px] max-xs:left-0 max-xs:right-0 max-xs:flex max-xs:flex-col
		max-xs:justify-center max-xs:w-full max-xs:text-center max-xs:bg-stone-900/90
		max-xs:px-20 flex gap-4 max-sm:gap-3"
		data-nav-links
	>
		{
			Object.values(links).map((item) => (
				<li
					class:list={[
						'hover:text-accent uppercase',
						{ 'text-accent': item.link === currentPath },
					]}
				>
					<a href={item.link}>{item.title}</a>
				</li>
			))
		}
	</ul>

	<button class="hamburger xs:hidden group relative">
		<div
			class="relative flex h-[40px] w-[40px] transform items-center
			justify-center rounded-full bg-slate-700 shadow-md ring-0 ring-gray-300
			ring-opacity-30 transition-all duration-200 hover:ring-8 group-focus:ring-4"
		>
			<div
				class="-container flex h-[20px] w-[20px] origin-center transform
				flex-col justify-between transition-all duration-300"
			>
				<div
					class="-first h-[2px] w-1/2 origin-right transform rounded bg-white
					transition-all delay-75 duration-300 group-focus:h-[1px]
					group-focus:-translate-y-[1px]"
				>
				</div>
				<div class="-second h-[1px] rounded bg-white"></div>
				<div
					class="-third h-[2px] w-1/2 origin-left transform self-end rounded
					bg-white transition-all delay-75 duration-300 group-focus:h-[1px]
					group-focus:translate-y-[1px]"
				>
				</div>
			</div>
		</div>
	</button>
	<script>
		const btn = document.querySelector('.hamburger');

		if (btn) {
			btn.addEventListener('click', () => {
				const links = document.querySelector('[data-nav-links]');
				if (!links) return;

				links.classList.toggle('expanded');
				btn.classList.toggle('--active');
			});
		}

		window.addEventListener('load', function () {
			scrollFunction();
		});

		window.addEventListener('scroll', () => {
			scrollFunction();
		});

		function scrollFunction() {
			const nav = document.querySelector('nav');
			if (!nav) return;
			if (document.documentElement.scrollTop > 0) {
				nav.classList.add('top-nav-shadow');
			}

			if (document.documentElement.scrollTop === 0) {
				nav.classList.remove('top-nav-shadow');
			}
		}
	</script>
</nav>

<style lang="scss">
	.top-nav-shadow {
		@apply shadow-xl;
		@apply backdrop-blur;
	}

	.hamburger {
		&.--active {
			.-container {
				transform: rotate(-45deg);
			}

			.-first {
				transform: rotate(-90deg);
			}

			.-third {
				transform: rotate(-90deg);
			}
		}
	}

	[data-nav-links] {
		display: flex;

		&.expanded {
			@apply flex;
			@apply backdrop-blur;
		}

		@media (width <= 479px) {
			@apply hidden;
		}
	}
</style>
