---
import Layout from '../layouts/Layout.astro';
---

<Layout title={'Страница не найдена'}>
	<main
		class="fixed bottom-0 left-0 right-0 top-0 flex flex-col items-center justify-center"
	>
		<h1 class="text-3xl font-bold">Упс!</h1>
		<p class="font-base mb-8">Здесь ничего нет :(</p>
		<a href="/" class="hover:text-accent">Вернуться на главную страницу</a>
	</main>
</Layout>
