---
import Layout from '../layouts/Layout.astro';
import Reel from '../components/Reel.svelte';
---

<Layout title="ะะพะทัะณััั">
	<section class="mb-10 font-montserrat">
		<h1 class="mb-10 text-center text-5xl">๐ฅะะะะซะะะซะจ ัะพัะพัะตััะธะธ๐ฅ</h1>

		<p>
			ะฏ ัะตัะธะปะฐ ะฟัะพะฒะตััะธ ัะพะฒะผะตััะฝัะน ัะพะทัะณััั ะฝะฐ ะดะฒัั ัะพัะธะฐะปัะฝัั ะฟะปะพัะฐะดะบะฐั:
			Instagram ะธ ะะ ๐
		</p>

		<p>
			ะั ะผะพะถะตัะต ะฟัะธะฝััั ััะฐััะธะต ะฝะฐ ะดะฒัั ะฟะปะพัะฐะดะบะฐั, ะฟัะธ ััะพะผ ัะฐะฝัั ะฝะฐ ะฒัะธะณััั
			ะฒะพะทัะฐััะฐัั ๐
		</p>

		<p class="mt-4">ะะปะฐะฒะฝัะน ะฟัะธะท:</p>
		<p class="mb-4 font-bold">
			๐ธ ััะตะผะบะฐ ยซะะะะคะะะขยป (ััะตะผะบะฐ ะฒ ัััะดะธะธ/ะฟัะพะณัะปะพัะฝะฐั ััะตะผะบะฐ)
		</p>

		<p class="mb-4">ะะพ ััะพ ะตัะต ะฝะต ะฒัะต ๐คช ะฟะปััะพะผ ั ัะฐะทัะณัะฐั:</p>
		<ul class="">
			<li>๐ธ ััะตะผะบะฐ ยซะญะะกะะะะกะกยป (ะฟัะพะณัะปะพัะฝะฐั ััะตะผะบะฐ)</li>
			<li>
				๐ธ ะดะฒะฐ ัะตััะธัะธะบะฐัะฐ ะฝะฐ 30 ะธ 50 % ัะบะธะดะบั ะฝะฐ ะฟะฐะบะตัั ัะพัะพัะตััะธะน ะฝะฐ ะฒัะฑะพั ๐
			</li>
		</ul>

		<p class="font-bold">ะัะพะณะพ ะฟะพะปััะธััั 4 ะฟะพะฑะตะดะธัะตะปั ๐ฅณ</p>

		<p class="mt-4">
			ะะพั ะณะตะฝะตัะฐัะพั ะดะปั ัะพะทะดะฐะฝะธั ะฒะฐัะตะณะพ ัะฝะธะบะฐะปัะฝะพะณะพ ัะธัะปะฐ, ะฟะพะด ะบะพัะพััะผ ะฒั ะฑัะดะตัะต
			ััะฐััะฒะพะฒะฐัั ะฒ ัะพะทัะณัััะต
		</p>

		<p>ะัะธะตะผ ัะธัะตะป ะดะปั ััะฐััะธั ะฒ ัะพะทัะณัััะต ะดะพ 23ั 59ะผ 15.07.24ะณ.</p>
	</section>

	<Reel client:only="svelte" />
</Layout>
