---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import self from '../../public/photos/main/self.jpg';
import { navigation } from '../components/widgets/nav/navigation';
import { config } from '../../config/config';
---

<Layout title={config.meta.title} width="full">
	<main class="flex h-[calc(100vh-var(--nav-height))] max-sm:relative">
		<Image
			src={self}
			alt="A bird sitting on a nest of eggs."
			width={self.width}
			quality={40}
			widths={[240, 540, 720, self.width]}
			sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${self.width}px`}
			loading="eager"
			class="w-1/2 flex-1 basis-1/2 object-cover object-top"
		/>

		<div
			class="flex flex-1 basis-1/2 flex-col justify-center gap-7 text-balance
			px-10 max-sm:absolute max-sm:bottom-0 max-sm:left-0
			max-sm:right-0 max-sm:top-[20%] max-sm:m-auto"
		>
			<h1 class="text-5xl font-bold">Привет, я Анастасия 👋</h1>
			<p class="max-w-[500px]">
				специализируюсь на мужском портрете, легко могу разрушить стереотип
				"мужчины не любят фотографироваться". <br />Раскроем твою
				индивидуальность?!
			</p>
		</div>
	</main>
	<section class="m-auto max-w-[960px] px-10 py-16">
		<p class="mb-4 text-justify">
			Я стремлюсь создавать уникальные и запоминающиеся образы своих клиентов,
			раскрывая их индивидуальность и подчеркивая лучшие черты.
		</p>
		<p class="mb-4 text-justify">
			Моя работа — это больше, чем просто фотографирование. Это искусство,
			которое требует тонкого понимания психологии человека, умения работать с
			людьми и находить к ним подход. Я стараюсь создать комфортную атмосферу во
			время съемки, чтобы мои клиенты могли расслабиться и чувствовать себя
			естественно перед камерой.
		</p>
		<p class="mb-4 text-justify">
			Я убеждена, что каждый человек красив и уникален по-своему. Моя задача —
			показать эту красоту и индивидуальность через объектив камеры. Я работаю с
			различными стилями и техниками фотографии, чтобы достичь наилучшего
			результата для каждого клиента.
		</p>

		<p class="mb-10 text-justify">
			Если вы ищете профессионального фотографа для создания вашего портрета или
			другой фотосессии, свяжитесь со мной. Я буду рад помочь вам сохранить
			незабываемые моменты вашей жизни на фотографиях!
		</p>

		<a
			href={navigation.find((item) => item.id === 'gallery')?.links?.[0]?.link}
			class="m-auto flex w-fit items-center
			rounded-4xl bg-stone-900 px-10 py-5 text-white hover:text-accent dark:bg-white dark:text-black"
		>
			{navigation.find((item) => item.id === 'gallery')?.title}
		</a>
	</section>
</Layout>

<style>
	:root {
		--nav-height: 80px;
	}
</style>
