---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import self from '../../public/photos/main/self.jpg';
import { config } from '../../config/config';
---

<Layout title={config.meta.title} width="full">
	<main class="relative flex h-[calc(100vh-var(--nav-height))]">
		<Image
			src={self}
			alt="A bird sitting on a nest of eggs."
			width={self.width}
			quality={100}
			widths={[400, 768, 1024, 1920, self.width]}
			sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, ${self.width}px"
			loading="eager"
			class="w-1/2 flex-1 basis-full object-cover object-top"
		/>

		<h1
			class="absolute bottom-40 left-10 flex flex-col text-balance px-10 text-4xl uppercase text-white max-sm:left-0 max-sm:w-full max-sm:items-center max-sm:text-3xl max-xs:text-2xl"
		>
			<span class="">Раскроем</span>
			<span
				class="ml-20 text-6xl text-accent max-sm:ml-0 max-sm:text-5xl max-xs:text-4xl"
				>твою</span
			>
			<span class="ml-32 max-sm:ml-0">индивидуальность?!</span>
		</h1>
	</main>
	<section class="m-auto max-w-[980px] px-10 py-16">
		<p class="mb-4 text-justify">
			Добрый день! Меня зовут Анастасия я специализируюсь на портретах.
		</p>

		<p class="mb-4 text-justify">
			Я могу могу разрушить стереотип "мужчины не любят фотографироваться".
		</p>

		<p class="mb-4 text-justify">
			Я стремлюсь создавать уникальные и запоминающиеся образы своих клиентов,
			раскрывая их индивидуальность и подчеркивая лучшие черты.
		</p>

		<p class="mb-4 text-justify">
			Моя работа — это больше, чем просто фотографирование, это искусство,
			которое требует тонкого понимания психологии человека, умения работать с
			людьми и находить к ним подход.
		</p>

		<p class="mb-4 text-justify">
			Фотографирую также для бизнеса и организаций, а также для журналов
			<a
				href="https://themost.online/"
				target="_blank"
				class="underline underline-offset-4 hover:text-accent"
			>
				Themost
			</a> и
			<a
				href="https://dorogoe.tomsk.ru/"
				target="_blank"
				class="underline underline-offset-4 hover:text-accent"
			>
				Дорогое удовольствие
			</a>.
		</p>

		<p class="mb-4 text-justify">
			Я стараюсь создать комфортную атмосферу во время съемки, на моей
			фотосессии Вам позировать не придется, от вас всего лишь требуется это
			быть собой, а вашу позу если нужно я немного поправлю для гармоничного
			кадра.
		</p>

		<p class="mb-4 text-justify">
			Я убеждена, что каждый человек красив и уникален по-своему.
		</p>

		<p class="mb-4 text-justify">
			Моя задача — показать эту красоту и индивидуальность через объектив
			камеры.
		</p>

		<p class="text-justify">
			Я не люблю наигранности и поэтому буду ловить моменты правды!
		</p>
	</section>
</Layout>

<style>
	:root {
		--nav-height: 80px;
	}
</style>
