---
import { Icon } from 'astro-icon/components';
import { config } from '../../../../config/config';

interface Props {
	links: {
		link: string;
		icon: string;
		customClasses?: string[] | undefined;
		label: string;
	}[];
}

const { links } = Astro.props as Props;
---

<footer class="flex justify-between border-t-[1px] px-20 py-5 max-xs:px-10">
	<p class="">
		&copy; 2024 {config.name}. <br />Все права защищены.
	</p>
	<ul class="flex items-center gap-3">
		{
			links.map(({ link, icon, customClasses, label }) => {
				return (
					<li class="hover:text-accent">
						<a href={link} target="_blank" rel="noreferrer" title={label}>
							<Icon
								class="text-muted"
								name={icon}
								size={32}
								class:list={[customClasses]}
							/>
						</a>
					</li>
				);
			})
		}
	</ul>
</footer>
