---

---

<meta name="yandex-verification" content="078547a52c1226b4" />
<!-- Yandex.Metrika counter -->
<script type="text/javascript" is:inline>
	(function (m, e, t, r, i, k, a) {
		m[i] =
			m[i] ||
			function () {
				// eslint-disable-next-line prefer-rest-params
				(m[i].a = m[i].a || []).push(arguments);
			};
		// eslint-disable-next-line unicorn/prefer-date-now
		m[i].l = 1 * new Date();
		// eslint-disable-next-line no-var
		for (var j = 0; j < document.scripts.length; j++) {
			if (document.scripts[j].src === r) {
				return;
			}
		}
		(k = e.createElement(t)),
			// eslint-disable-next-line unicorn/prefer-query-selector
			(a = e.getElementsByTagName(t)[0]),
			(k.async = 1),
			(k.src = r),
			a.parentNode.insertBefore(k, a);
	})(
		globalThis,
		document,
		'script',
		'https://mc.yandex.ru/metrika/tag.js',
		'ym',
	);
	// eslint-disable-next-line unicorn/numeric-separators-style
	ym(97504896, 'init', {
		clickmap: true,
		trackLinks: true,
		accurateTrackBounce: true,
		webvisor: true,
	});
</script>
<noscript
	><div>
		<img
			src="https://mc.yandex.ru/watch/97504896"
			style="position:absolute; left:-9999px;"
			alt=""
		/>
	</div></noscript
>
<!-- /Yandex.Metrika counter -->

<!-- Google tag (gtag.js) -->
<script
	async
	src="https://www.googletagmanager.com/gtag/js?id=G-1D4M94F01H"
	is:inline></script>
<script is:inline>
	globalThis.dataLayer = globalThis.dataLayer || [];
	function gtag() {
		// eslint-disable-next-line prefer-rest-params
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'G-1D4M94F01H');
</script>
