@import 'themes/light';
@import 'themes/dark';

body {
	color: var(--primary-color);
	font: var(--font-s);
	background: var(--bg-color);
}

:root {
	--nav-height: 80px;
	--accent: #F74808;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		rgb(var(--accent-light)) 30%,
		#fff 60%
	);
}

html {
	overflow-x: hidden;
	font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.glass {
  z-index: -1;
  background: rgb(57 56 56 / 52%);
  -webkit-backdrop-filter: blur(13px) saturate(150%);
  backdrop-filter: blur(13px) saturate(150%);
}

a.--button{
  display: inline-flex;
  padding: 4px 6px 0;
  color: var(--accent);
  text-align: center;
  border: 1px solid var(--accent);
  border-radius: 5px;

  &:hover {
    color: var(--white);
    background: var(--accent);
  }
}


