@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-weight: 300;
		font-family: 'Montserrat';
		font-style: normal;
		src:
			url('../../../public/fonts/Montserrat-Light.woff2') format('woff2'),
			url('../../../public/fonts/Montserrat-Light.woff') format('woff');
		font-display: block;
	}

	@font-face {
		font-weight: 400;
		font-family: 'Montserrat';
		font-style: normal;
		src:
			url('../../../public/fonts/Montserrat-Regular.woff2') format('woff2'),
			url('../../../public/fonts/Montserrat-Regular.woff') format('woff');
		font-display: block;
	}

	@font-face {
		font-weight: 100;
		font-family: 'Muller-Trial';
		font-style: normal;
		src:
			url('../../../public/fonts/Muller-Trial-Thin.woff2') format('woff2'),
			url('../../../public/fonts/Muller-Trial-Thin.woff') format('woff');
		font-display: block;
	}

	@font-face {
		font-weight: 700;
		font-family: 'Muller-Trial';
		font-style: normal;
		src:
			url('../../../public/fonts/Muller-Trial-ExtraBold.woff2') format('woff2'),
			url('../../../public/fonts/Muller-Trial-ExtraBold.woff') format('woff');
		font-display: block;
	}

	@font-face {
		font-weight: 400;
		font-family: 'Muller-Trial';
		font-style: normal;
		src:
			url('../../../public/fonts/Muller-Trial-Regular.woff2') format('woff2'),
			url('../../../public/fonts/Muller-Trial-Regular.woff') format('woff');
		font-display: block;
	}
}
