---
import Navigation from '../components/widgets/nav/Navigation.astro';
import Footer from '../components/widgets/footer/Footer.astro';
import { socialLink } from '../../config/links/social';
import { SEO } from 'astro-seo';
import { config } from '../../config/config';
import ThemeIcon from '../components/ThemeIcon.astro';

interface Props {
	title: string;
	width?: 'full';
}

const { title, width } = Astro.props as Props;

import '../styles/index.scss';
import '../styles/tailwind.css';
---

<!doctype html>
<html lang="ru" class="motion-safe:scroll-smooth">
	<head>
		<SEO
			charset="utf8"
			title={title || config.meta.title}
			description={config.meta.description}
			openGraph={{
				basic: {
					image: config.meta.image,
					title: title || config.meta.title,
					type: 'website',
					url: Astro.url,
				},
			}}
			extend={{
				link: [{ rel: 'icon', type: 'image/svg+xml', href: '/favicon.svg' }],
				meta: [
					{
						name: 'viewport',
						content: 'width=device-width, initial-scale=1.0',
					},
					{
						name: 'keywords',
						content: config.meta.keywords,
					},
				],
			}}
		/>
	</head>
	<body class="bg-white text-stone-900 dark:bg-stone-900 dark:text-white">
		<header class="sticky top-0 z-10 flex h-[80px] justify-between gap-3 px-5">
			<Navigation />
			<ThemeIcon />
		</header>

		<div class="mx-auto" class:list={width === 'full' ? '' : 'max-w-screen-lg'}>
			<slot />
		</div>
		<slot name="footer">
			<Footer links={socialLink} />
		</slot>
		<script>
			window.addEventListener('load', function () {
				scrollFunction();
			});

			window.addEventListener('scroll', () => {
				scrollFunction();
			});

			function scrollFunction() {
				const nav = document.querySelector('header');
				if (!nav) return;
				if (document.documentElement.scrollTop > 0) {
					nav.classList.add('top-nav-shadow');
				}

				if (document.documentElement.scrollTop === 0) {
					nav.classList.remove('top-nav-shadow');
				}
			}
		</script>
		<style lang="scss">
			.top-nav-shadow {
				@apply shadow-xl;
				@apply backdrop-blur;
			}
		</style>
	</body>
</html>
