---
import Navigation from '../components/widgets/nav/Navigation.astro';
import Footer from '../components/widgets/footer/Footer.astro';
import { socialLink } from '../../config/links/social';
import { SEO } from 'astro-seo';
import { config } from '../../config/config';

interface Props {
	title: string;
	width?: 'full';
}

const { title, width } = Astro.props as Props;
---

<!doctype html>
<html lang="ru" class="motion-safe:scroll-smooth">
	<head>
		<SEO
			charset="utf8"
			title={title || config.meta.title}
			description={config.meta.description}
			openGraph={{
				basic: {
					image: config.meta.image,
					title: title || config.meta.title,
					type: 'website',
					url: Astro.url,
				},
			}}
			extend={{
				link: [{ rel: 'icon', type: 'image/svg+xml', href: '/favicon.svg' }],
				meta: [
					{
						name: 'viewport',
						content: 'width=device-width, initial-scale=1.0',
					},
					{
						name: 'keywords',
						content: config.meta.keywords,
					},
				],
			}}
		/>
	</head>
	<body class="bg-stone-900 text-white">
		<Navigation />
		<div class="mx-auto" class:list={width === 'full' ? '' : 'max-w-screen-lg'}>
			<slot />
		</div>
		<slot name="footer">
			<Footer links={socialLink} />
		</slot>
		<script></script>
		<style is:global>
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					rgb(var(--accent-light)) 30%,
					#fff 60%
				);
			}

			html {
				overflow-x: hidden;
				font-family: system-ui, sans-serif;
				-webkit-font-smoothing: antialiased;
				text-rendering: optimizelegibility;
			}
		</style>
	</body>
</html>
